#### Hasta este punto tenemos nuestras tablas procesadas (movies, ratings y tags) de forma correcta. El cliente nos ha solicitado apoyar al departamento de Marketing a realizar algunas consultas y a generar una única tabla y realizar algunos ajustes a la tabla final antes de poder almacenarla.

##### Nota: Para poder trabajar con este notebook es necesario haber terminado el ejercicio de la sesión 07

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
%run utils.ipynb

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
from pyspark.sql import SparkSession, DataFrame, Column
import pyspark.sql.functions as f
import pyspark.sql.types as t

# Creación de sesión de Spark
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("ejercicio_8") \
    .getOrCreate()

# Carga de tablas requeridas
root_path = "../resources/data/tmp/parquet/"
names_list = ["07/movies", "07/ratings", "07/tags_p2"]
df_dict = read_tmp_df(names_list)

movies_df = df_dict["07/movies"]
ratings_df = df_dict["07/ratings"]
tags_df = df_dict["07/tags_p2"]

movies_df.show(1, False)
ratings_df.show(1, False)
tags_df.show(1, False)

#### En la siguiente imagen se muestra una representación a traves del diagrama de Venn sobre cada tabla (movies_df, ratings_df y tags_df) la cual fue contruida por el departamento de Marketing, el problema es que no saben la cantidad de datos de cada conjunto.
##### El cliente nos han solicitado obtener la cantidad de registros de cada conjunto de datos representado por las siguientes letras:
- ##### A: Registros de movies_df que no tiene filas coincidentes con las tablas ratings_df y tags_df
- ##### B: Registros de ratings_df que no tiene filas coincidentes con las tablas movies_df y tags_df
- ##### C: Registros de tags_df que no tiene filas coincidentes con las tablas movies_df y ratings_df
- ##### D: Registros de movies_df y ratings_df que no tiene filas coincidentes con la tabla tags_df
- ##### E: Registros de movies_df y tags_df que no tiene filas coincidentes con la tabla ratings_df
- ##### F: Registros de ratings_df y tags_df que no tiene filas coincidentes con la tabla movies_df
- ##### G: Registros que contiene datos coincidentes en las tablas movies_df, ratings_df y tags_df
-  Una tabla tiene registros coincidentes con otra cuando comparten el mismo valor en la columna "movie_id"

![title](../resources/img/Tablas_conjuntos.png)

#### Actividad 1:
##### TO DO ->    Obtener los conjuntos de datos listados en el diagrama de Venn con operaciones de tipo join, con la finalidad de ahorrar recursos el cliente nos ha solicitado que en la salida de cada transformación el dataframe resultante contenga únicamente la columna "movie_id" (basta con utilizar únicante una trasnsformación select al inicio de las operaciones join y utilizar únicamente joins del tipo left_semi y left_anti).
- ##### Los dataframes resultantes se almacenarán en las siguientes variables:
    - ##### A_df -> Conjunto A
    - ##### B_df -> Conjunto B
    - ##### C_df -> Conjunto C
    - ##### D_df -> Conjunto D
    - ##### E_df -> Conjunto E
    - ##### F_df -> Conjunto F
    - ##### G_df -> Conjunto G

In [ ]:
## TU CODIGO VA EN ESTA CELDA:

# Conjunto A:
# Adf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto B:
# Bdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto C:
# Cdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto D:
# Ddf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto E:
# Edf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto F:
# Fdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto G:
# Gdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
B_df.show(1)
"""
Ejemplo de salida de cada dataframe (desde A hasta G):
+--------+
|movie_id|
+--------+
|  179995|
+--------+
only showing top 1 row
"""

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

assert A_df.count() == 0
assert B_df.count() == 4270
assert C_df.count() == 539
assert D_df.count() == 28815
assert E_df.count() == 2759
assert F_df.count() == 2251
assert G_df.count() == 47903

assert len(A_df.columns) == 1
assert len(B_df.columns) == 1
assert len(C_df.columns) == 1
assert len(D_df.columns) == 1
assert len(E_df.columns) == 1
assert len(F_df.columns) == 1
assert len(G_df.columns) == 1

assert "movie_id" in A_df.columns
assert "movie_id" in B_df.columns
assert "movie_id" in C_df.columns
assert "movie_id" in D_df.columns
assert "movie_id" in E_df.columns
assert "movie_id" in F_df.columns
assert "movie_id" in G_df.columns

#### Actividad 2:
##### TO DO ->    Algunos administradores de base de datos no comprenden el uso de los joins de tipo left_semi y left_anti, por lo tanto el cliente ha solicitado que tambien se realicen las transformaciones con cualquiera de los siguientes tipos de join: left, right, inner, outer. Podrías utilizar la transformación filter/where en algunos casos.
##### No existe alguna reestricción de qué columnas contiene el dataframe de salida.
- ##### Los dataframes resultantes se almacenarán en las siguientes variables:
    - ##### A_df -> Conjunto A
    - ##### B_df -> Conjunto B
    - ##### C_df -> Conjunto C
    - ##### D_df -> Conjunto D
    - ##### E_df -> Conjunto E
    - ##### F_df -> Conjunto F
    - ##### G_df -> Conjunto G

In [ ]:
## TU CODIGO VA EN ESTA CELDA:

# Conjunto A:
# Adf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto B:
# Bdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto C:
# Cdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto D:
# Ddf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto E:
# Edf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto F:
# Fdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

# Conjunto G:
# Gdf = ... # aplicar transformaciones join a movies_df, ratings_df y tags_df

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

assert A_df.count() == 0
assert B_df.count() == 4270
assert C_df.count() == 539
assert D_df.count() == 28815
assert E_df.count() == 2759
assert F_df.count() == 2251
assert G_df.count() == 47903

#### Actividad 3:
##### TO DO ->    Con operaciones join genera un dataframe que contenga la union de todos los conjuntos (desde el A hasta el G) sin repetir registros.

In [ ]:
## TU CODIGO VA EN ESTA CELDA:

universe_df = # aplicar transformaciones join a movies_df, ratings_df y tags_df

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
universe_df.show(1)
"""
Ejemplo de salida:
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|               title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|  100062|My Way (Mai Wei) ...|[Action, Drama, War]|2011|      3.63|         0.83|          64|2014-03-11 21:23:33|[{PRESS-GANGED, 1...|2018-05-26 16:40:54|
+--------+--------------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
only showing top 1 row
"""

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

test_value = [Row(
    movie_id='100062', 
    title='My Way (Mai Wei) (2011)', 
    genres=['Action', 'Drama', 'War'], 
    year=2011, 
    avg_rating=3.63, 
    stddev_rating=0.83, 
    count_rating=64, 
    min_time_rating=datetime.datetime(2014, 3, 11, 21, 23, 33), 
    tag_count=[
        Row(tag='PRESS-GANGED', count=1),
        Row(tag='WORLD WAR II', count=1),
        Row(tag='WAR', count=1),
        Row(tag='FATE', count=1)],
    min_time_tag=datetime.datetime(2018, 5, 26, 16, 40, 54))]

expected_columns = ["movie_id", "title", "genres", "year",
                    "avg_rating", "stddev_rating", "count_rating",
                    "min_time_rating", "tag_count", "min_time_tag"]

assert universe_df.count() == 86537
assert set(universe_df.columns) - set(expected_columns) == set()
assert set(expected_columns) - set(universe_df.columns) == set()
assert universe_df \
    .select(*expected_columns) \
    .filter(f.col("movie_id") == "100062") \
    .collect() == test_value

#### Actividad 4:
##### TO DO ->    La estructura del dataframe final de acuerdo al análisis realizado por marketing es el dado por la union del conjunto de datos: A, D, E y G. Realiza este proceso y almacena el dataframe resultante en la variable "final_df"
#####

In [ ]:
## TU CODIGO VA EN ESTA CELDA:

final_df = # aplicar transformaciones join a movies_df, ratings_df y tags_df

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
final_df.show(1)
"""
Ejemplo de salida:
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|movie_id|           title|              genres|year|avg_rating|stddev_rating|count_rating|    min_time_rating|           tag_count|       min_time_tag|
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
|       1|Toy Story (1995)|[Adventure, Anima...|1995|      3.89|         0.93|       76813|1996-01-28 18:00:00|[{TIME TRAVEL, 11...|2006-01-12 19:19:35|
+--------+----------------+--------------------+----+----------+-------------+------------+-------------------+--------------------+-------------------+
only showing top 1 row
"""

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

test_value = [Row(
    movie_id='100062', 
    title='My Way (Mai Wei) (2011)', 
    genres=['Action', 'Drama', 'War'], 
    year=2011, 
    avg_rating=3.63, 
    stddev_rating=0.83, 
    count_rating=64, 
    min_time_rating=datetime.datetime(2014, 3, 11, 21, 23, 33), 
    tag_count=[
        Row(tag='PRESS-GANGED', count=1),
        Row(tag='WORLD WAR II', count=1),
        Row(tag='WAR', count=1),
        Row(tag='FATE', count=1)],
    min_time_tag=datetime.datetime(2018, 5, 26, 16, 40, 54))]

expected_columns = ["movie_id", "title", "genres", "year",
                    "avg_rating", "stddev_rating", "count_rating",
                    "min_time_rating", "tag_count", "min_time_tag"]

assert final_df.count() == 79477

assert set(final_df.columns) - set(expected_columns) == set()
assert set(expected_columns) - set(final_df.columns) == set()
assert final_df \
    .select(*expected_columns) \
    .filter(f.col("movie_id") == "100062") \
    .collect() == test_value

#### Actividad 5:
##### TO DO ->    El cliente nos ha solicitado llenar los valores "null" de la columna "year", para esto nos ha pedido seguir la siguiente regla:
- ##### Si la columna "year" es null y si la columna "min_time_rating" es null colocar el año de la columna "min_time_tag".
- ##### Si la columna "year" es null y si la columna "min_time_tag" es null colocar el año de la columna "min_time_rating".
- ##### Si la columna "year" es null, y las columnas "min_time_rating" y "min_time_tag" son distintas de null colocar el año menor de las columnas "min_time_rating" y "min_time_tag", en caso de que el año en ambas columnas sea el mismo colocar dicho año.
- ##### En cualquier otro caso mantener el valor entero 1970
##### Adicional nos ha solicitado generar una columna llamada "year_type" con los siguientes valores:
- ##### Si la columna "year" venia con un valor distinto a null, asignar el valor "YO"
- ##### Si la columna "year" es null y si la columna "min_time_rating" es null colocar "YT"
- ##### Si la columna "year" es null y si la columna "min_time_tag" es null colocar "YR"
- ##### Si la columna "year" es null, y las columnas "min_time_rating" y "min_time_tag" son distintas de null:
    - ##### Si "min_time_rating" es menor a "min_time_tag" colocar "YR"
    - ##### Si "min_time_tag" es menor a "min_time_rating" colocar "YT"
    - ##### Si "min_time_tag" es igual a "min_time_rating" colocar "YRT"
- ##### En cualquier otro caso mantener "YU"
##### Al finalizar este proceso eliminar las columnas "min_time_rating" y "min_time_tag"
- Para resolver estos ejercicios podrías utilizar la función year -> https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.year.html#pyspark.sql.functions.year
##### Este proceso se desarrollará en un método con la firma: def get_last_movies_df(df: DataFrame) -> DataFrame
##### La estructura del dataframe de salida será:
* |-- movie_id: string
* |-- title: string
* |-- avg_rating: double
* |-- count_rating: long
* |-- stddev_rating: double
* |-- genres: array
* |--- |-- element: string
* |-- tag_count: array
* |--- |-- element: struct
* |--- |--- |tag: string
* |--- |--- |count: long
* |-- year: integer
* |-- year_type: string
##### NO UTILIZAR withColumn NI withColumnRenamed

In [ ]:
## TU CODIGO VA EN ESTA CELDA:

def get_last_movies_df(df: DataFrame) -> DataFrame:
    return df # transformaciones a final_df

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

movies_df = get_last_movies_df(final_df)
movies_df.show(1)
"""
Ejemplo de salida esperada (el orden de la columnas podría ser distinto):
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
|movie_id|           title|avg_rating|count_rating|stddev_rating|              genres|           tag_count|year|year_type|
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
|       1|Toy Story (1995)|      3.89|       76813|         0.93|[Adventure, Anima...|[{TIME TRAVEL, 11...|1995|       YO|
+--------+----------------+----------+------------+-------------+--------------------+--------------------+----+---------+
only showing top 1 row
"""

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA

test_value = [Row(
    movie_id='179479',
    title='Samadhi Part 1: Maya, the Illusion of the Self',
    avg_rating=4.19,
    count_rating=8,
    stddev_rating=0.75,
    genres=['Documentary'],
    tag_count=[Row(tag='EASTERN PHILOSOPHY', count=1),
               Row(tag='METAPHYSICAL', count=1),
               Row(tag='MEDITATION', count=1),
               Row(tag='NEW AGE', count=1),
               Row(tag='SPIRITUAL', count=1)],
    year=2017,
    year_type='YT')]

expected_count_by_year_type = [
    Row(year_type='YO', count=79235),
    Row(year_type='YR', count=159),
    Row(year_type='YRT', count=55),
    Row(year_type='YT', count=28)]

expected_columns = ["movie_id","title","avg_rating","count_rating","stddev_rating","genres","tag_count","year","year_type"]

expected_schema = 'movie_id STRING,title STRING,avg_rating DOUBLE,count_rating BIGINT,stddev_rating DOUBLE,genres ARRAY<STRING>,tag_count ARRAY<STRUCT<tag: STRING, count: BIGINT>>,year INT,year_type STRING NOT NULL'

assert set(movies_df.columns) - set(expected_columns) == set()
assert set(expected_columns) - set(movies_df.columns) == set()
assert movies_df.filter(f.col("year").isNull()).count() == 0
assert movies_df \
    .select(*expected_columns) \
    .filter(f.col("movie_id") == "179479") \
    .collect() == test_value
assert schema_to_ddl(movies_df.select(*expected_columns)) == expected_schema
assert movies_df.groupBy(f.col("year_type")).count().orderBy(f.col("count").desc()).collect() == expected_count_by_year_type

In [ ]:
# NO MODIFICAR EL CONTENIDO DE ESTA CELDA
dfs = [(movies_df, "08/movies")]

write_tmp_df(dfs)